extends layout 

block content
	div(class="body_content")
		div(class="header1_edit")
			h1 Add Book
		
		div(class="form_container")
			form(method='POST', action='/books/add')
				
				label Title: 
				input(name='title', type='text', class="title_input")
			
				label Genre:
				select(name='genre', class="genre_select")
					each genre in distinctGenre
						option(selected) #{genre.genre}
			
				label Description: 
				textarea(name='description', class="content_input")

				div(class="button_edit")
					button(type="submit") Create
					| 
					a(href='/books/genre') 
						button(type="button") Add Genre
					| 
					a(href='/users/profile') 
						button(type="button") Cancel