extends layout 

block content
	div(class="body_content")
		div(class="header1_edit")
			h1 Add Genre
		
		div(class="form_container")
			form(method='POST', action='/books/genre')
				device
					label New Genre: 
					input(name='genre', type='text', class="title_input")
				div(class="button_edit")
					button(type="submit") Create Genre
					| 
					a(href='/books/add') 
						button(type="button") Cancel