body{
	background: #273469;
} 
 .body_container{
	display: grid;
	grid-auto-rows: 1fr; 
	grid-template-columns: 10% 1fr 10%; 
	gap: 0px 0px; 
 }

 .book-container {
	display: grid; 
	grid-auto-rows: 1fr; 
	grid-template-columns: 10% 60% 30%; 
	gap: 0px 0px; 
  }

  .p-10px{
	  padding: 10px;
  }

  .m-10px{
	margin: 10px;
}

  .profile-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;  
  }
 .register-login-container-grid{
	display: grid; 
	grid-template-columns: 30% 1fr 30%; 
  }
  @media only screen and (max-width: 600px) {
	.register-login-container-gridy {
		grid-template-columns: 5% 1fr 5%; 
	}
  }
 .register-login-container-flex{
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
 }
.bg-dark-blue{
	background: #1E2749;
}
.bg-blue{
	background: #273469;
}
.bg-smokeWhite{
	background: #FAFAFF;
}
 header {
	  background-color: #000472;
	  color: #ffffff;
	  text-align: left
  }
  
  #nav_style {
	  background-color: #19a722;
	  float: left;
	  width: 20%;
	  box-sizing: border-box;
	  max-width: 100%;
	  height: auto
  }
  
  #main_area_style {
	  background-color: #272adf;
	  float: right;
	  width: 80%;
	  box-sizing: border-box;
	  max-width: 100%;
	  height: auto
  }
  
  footer {
	  background-color: #000472;
	  color: #ffffff;
	  text-align: center;
	  clear: both;
  }
  
  .alert-error{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
  }

  .alert-failure{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
  }
  
  .alert-success_msg{
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
  }

  .alert-danger{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
  }  

  .alert-success{
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
  }

 